[Unit]
Description=Biodiv-Territoire
After=network.target

[Service]
Type=simple
User=adminddinum
Group=adminddinum
WorkingDirectory=/var/www/territoire/
Environment=GUNICORN_PROC_NAME=biodiv-territoire
Environment=GUNICORN_NUM_WORKERS=4
Environment=GUNICORN_HOST=127.0.0.1
Environment=GUNICORN_PORT=8070
Environment=GUNICORN_TIMEOUT=600
ExecStart=/var/www/territoire/.venv/bin/gunicorn wsgi:application \
                --name "${GUNICORN_PROC_NAME}" --workers "${GUNICORN_NUM_WORKERS}" \
                --bind "${GUNICORN_HOST}:${GUNICORN_PORT}" --timeout="${GUNICORN_TIMEOUT}"
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=10
TimeoutStopSec=5
PrivateTmp=true
StandardOutput=append:/var/log/territoire.log
StandardError=inherit

[Install]
WantedBy=multi-user.target